body {
  background-color: whitesmoke;
}
.root {
  height: 100vh;
}
.wrapper {
  overflow: hidden;
  display: grid;
  width: 100%;
  height: 90%;
  grid-template-areas:
    ' left-box left-box right-box'
    ' left-box left-box right-box';
  grid-template-columns: auto auto auto;

  color: #444;
}
.left-box {
  grid-area: left-box;
  overflow: scroll;
  /* display: flex; */
}
::-webkit-scrollbar {
  display: none;
}
.right-box {
  border-left: solid 1px #c8c8d7;
  grid-area: right-box;
}
